body {
    margin: 0;
    overflow: hidden;
    background-color: #000;
    font-family: 'Inter', sans-serif;
}

canvas {
    display: block;
}

#interfaz-fps {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10;
}

#mira {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 14px;
    height: 14px;
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

#mira::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 2px;
    background: white;
    transform: translate(-50%, -50%);
}

.con-puntero {
    pointer-events: auto;
}

.texto-sium {
    text-shadow: 0 0 10px rgba(0, 0, 0, 1);
}
